.mat-form-field{
    display: flex;
}
#radioButtons{
    display:flex;
    width:50%;
    margin-top:5%;
}
.container{
    max-width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
}

label{
    margin-right: 3%;
}
.btn{
    color: rgb(255, 255, 255);
    border: white solid;
    background: transparent;
    margin-top:5%;
}
.button{
    display: flex;
    align-content: center;
}
.input{
    color: grey;
}