 <div class="container">
  <h1>New Project:</h1>

  <form [formGroup]="projectform" (ngSubmit)="submitRegistration()" novalidate>    
    
    <div class="form-group">
      <label>Title:</label>
      <input
        type="text"
        class="form-control"
         formControlName="title"
          placeholder="Name of project"
          required
      />
    </div>
    <div formGroupName="commission" class= "form-group">
      <div class="form-group"id="radioButtons">
        <label for="commission">Is this a Commission?</label>
        <input
          type="radio"
          class="form-control"
          ng-true-value="'Yes'"
          
          formControlName="commission"
          (click)="showCommission()"

        /> <label>Yes</label>
        <input
          type="radio"
          class="form-control"
          ng-false-value="'No"
        
          formControlName="commission" 
          (click)="collapseCommission()"
          value="null"
        /><label>No</label>
      </div>


      <div id="commissionFields">
    <div class="form-group">
      <label class="mr-sm-2">Type Of Commission:</label>
      <select id="commissionCommissionType"
      class="form-control"
      formControlName="commissionType"
      value="null"
      >
        <option selected>Select...</option>
        <option value="Business">Business</option>
        <option value="Customer">Customer</option>
        <option value="Family">Family</option>
        <option value="Friend">Friend</option>
        <option value="Not_Available">Not Available</option>
      </select>
    </div>
    <div class="form-group">
    <label>Commissioner Name:</label>
    <input id="commissionCommissioner"
    type="text" 
    class="form-control" 
    formControlName="commissioner" 
    placeholder="Name of commissioner"
    />
  </div>

    <div class="form-group">
      <label for="requirements">Requirements:</label>
      <input id="commissionRequirements"
        type="text"
        class="form-control"
        formControlName="requirements"
        placeholder="List any known requirements here..."
        value="null"
      />
    </div>
    </div> 
    </div>
    <!-- end commission -->

    <div class="form-group">
      <label> Start Date:</label>
      <input
        type="text"
        class="form-control"
        formControlName="startDate"
        required
      />
    </div>
    <div class="form-group">
      <label> Due Date:</label>
      <input
        type="text"
        class="form-control"
        formControlName="dueDate"
        required
      />
    </div>

    <div class="form-group" id="radioButtons">
      <label>Does this Project require materials?</label>
      <input
      type="radio"
      class="form-control"
      id="yes"
      value="true"
      ng-true-value="'Yes'"
      formControlName="materials"
    /> <label>Yes</label>
    <input
      type="radio"
      class="form-control"
      id="no"
      ng-false-value="'No"
      value="false"
      formControlName="materials"
    /><label>No</label>
    </div>

    <div class="form-group">
      <label for="materialsCost">Materials Cost:</label>
      <input
        type="number"
        class="form-control"
        formControlName="materialsCost"
        min="0"
        placeholder="How much will materials cost?"
        required
      />
    </div>

    <div class="form-group">
      <label>Hourly Rate:</label>
      <input
        type="number"
        class="form-control"
        formControlName="hourlyRate"
        min="0"
        placeholder="Your hourly rate..."
        required
      />
    </div>

    <div class="form-group">
      <label>Hours Logged:</label>
      <input
        type="number"
        class="form-control"
        formControlName="hoursLogged"
        min="0"
        placeholder="Hours logged"
        required
      />
    </div>

    <div class="form-group">
      <label>Description:</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Brief description of project..."
        required
      />
    </div>

    <div class="form-group">
      <label>Notes:</label>
      <input
        type="text"
        class="form-control"
        formControlName="notes"
        placeholder="Additional notes"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label for="completion">Status:</label>
      <input
        type="text"
        class="form-control"
        required #notes ="ngModel"
        [(ngModel)]="project.completion"
        name="completion"
      />
    </div> -->
    <div class="form-group">
      <label class="mr-sm-2">Status:</label>
      <select 
      class="form-control"
      formControlName="completion"
      required>
        <option selected>Select...</option>
        <option value="Started">Started</option>
        <option value="Completed">Completed</option>
        <option value="WIP">WIP</option>
        <option value="Paused">Paused</option>
      </select>
    </div>


      <div class="form-group" id="radioButtons">
        <label> Sold:</label>
        <input
        type="radio"
        class="form-control"
        id="yes"
        value="true"
        formControlName="sold"
      /> <label for="yes">Yes</label>
      <input
        type="radio"
        class="form-control"
        id="no"
        value="false"
        formControlName="sold"
      /><label>No</label>
      </div>
      <div id="bottomButtons" class="row">
        <div class="col-12">
      <app-image-upload></app-image-upload>
    </div>
      <div class="col-12" id= "submit">
      <button type="submit" id ="submitbutton" class="btn btn-primary">Submit</button>
      </div>

      <div class="col-12" id="back">
        <button class="btn btn-primary" id="backbutton" (click)="backButton()">Back</button>
      </div>
      <div id="message" *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div>
      </div>
      <!-- <div id="pics">
        <img src="{{project.photo}}.jpg" class="img-responsive">
    </div> -->

    </form>
 
</div>
 
