.mat-form-field{
    display: flex;
}
#radioButtons{
    display:flex;
    width:50%;
    margin-top:5%;
}
.container{
    max-width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
}

label{
    margin-right: 3%;
    margin-top:4%;
}
.btn{
    color: rgb(255, 255, 255);
    border: white solid;
    background: transparent;
    margin-top:5%;
}
.button{
    display: flex;
    align-content: center;
}
.input{
    color: grey;
}
.btn{
    padding: .8rem 2rem;
    font-size: 1.rem;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 50%;
}
#submit, #back{
    align-content: center;
    display:flex;
    flex-direction: column;
}
#submitbutton{
background-color: mediumseagreen;
}
#backbutton{
    background-color: red;
}
#message{
    margin-top:2%;
   margin-left:4%;

}