 <h1 id="header">My Projects:</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project Title:</th>
      <th scope="col">Description:</th>
      <th scope="col">Details:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.title}}</td>
      <td>{{ project.description }}</td>
      <td> <button class="btn btn-primary" (click)="viewProject(project.id)">View Details</button></td>
    </tr>
  </tbody>
</table>
<div>     
    <button type="button" class="btn btn-primary" (click)="addProjectButton()">
     Add Project
    </button>

  </div>

