<!-- <mat-card>Project Title: {{ project.title }}
    <mat-card-subtitle>Details:</mat-card-subtitle>
    <mat-card-content>{{ project.description}}</mat-card-content>
    <button class="btn btn-primary" (click)="viewProject(project.id)">View Details</button>
    <mat-card-actions routerLink="/app-project-details">View Project Details</mat-card-actions>
</mat-card> -->
TEST

 <h1>Project List Directory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.title}}</td>
      <td>{{ project.description }}</td>
      <td> <button class="btn btn-primary" (click)="viewProject(project.id)">View Details</button></td>
    </tr>
  </tbody>
</table>
<div>
    <button type="button" class="btn btn-success" (click)="addProjectButton()">Add Project</button>
  </div>

