.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#header{
  margin-top:5%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5% 0% 0% 5%;
}
.mat-drawer-inner-container{
  background-color: rgb(80, 84, 121);
  color: aliceblue;
}
.mat-drawer-content{
  background: rgb(8, 17, 31);
  color: white;
}
.img-responsive{
  max-width: 5%;
}
#slogan{
  font-size: .8rem;
  align-content: flex-end;
  padding-left:50%;
  font-style: italic;
}
#head{
  display:flex;
  align-items: center;
}
