<div class="container">
    <h2>Project Details:</h2>

    <!-- TITLE -->
    <div id="titleInfo" class="row">
        <div class="col-6">
            <div class="row" id="field">Title:</div>
            <div class="row" id="values">{{ project.title }}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Description:</div>
            <div class="row" id="values">{{ project.description }}</div>
        </div>
    </div>

    <!-- DATES -->
    <div id="dates" class="row">
        <div class="col-6">
            <div class="row" id="field">Start Date: </div>
            <div class="row" id="values">{{ project.startDate}}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Due Date:</div>
            <div class="row" id="values">{{ project.dueDate }}</div>
        </div>
    </div>

    <!-- COMMISSION -->
    <div id="commissionFields" class="row">
        <div id="commissionRow" class="row">
            <div class="col-4">
                <div class="row" id="field">Is it a Commission?</div>
                <div class="row" id="values">{{ project.commission.commission | yesNo }}</div>
            </div>
            <div class="col-4">
                <div class="row" id="field">Type of Commission:</div>
                <div class="row" id="values">{{ project.commission.commissionType | replaceNullWithText : 'N/A'}}</div>
            </div>
            <div class="col-4">
                <div class="row" id="field">Commissioner:</div>
                <div class="row" id="values">{{ project.commission.commissioner | replaceNullWithText : 'N/A'}}</div>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="row" id="field">Requirements:</div>
            <div class="row" id="values">{{ project.commission.requirements | replaceNullWithText : 'N/A' }}</div>
        </div>
    </div>

    <!-- COSTS -->
    <div id="costs" class="row">
        <div class="col-6">
            <div class="row" id="field">Materials:</div>
            <div class="row" id="values">{{ project.materials | yesNo}}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Est. Materials Cost:</div>
            <div class="row" id="values">{{ project.materialsCost | currency}}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Hourly Rate:</div>
            <div class="row" id="values">{{ project.hourlyRate | currency}}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Hours Logged:</div>
            <div class="row" id="values">{{ project.hoursLogged }}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Hourly Cost:</div>
            <div class="row" id="values">{{ hourlyCost() | currency }}</div>
        </div>
        <div class="col-6">
            <div class="row" id="field">Total Cost:</div>
            <div class="row" id="values">{{ totalCost() | currency }}</div>
        </div>
    </div>

    <!-- NOTES -->
    <div id="notes" class="row">
        <div class="col-12">
            <div class="row" id="field">Notes:</div>
            <div class="row" id="values">{{ project.notes }}</div>
            <br><br>
        </div>
    </div>

    <!-- STATUS -->
    <div id="status" class="row">
        <div class="col-6">
            <div class="row" id="field">Complete:</div>
            <div class="row" id="values">{{ project.completion }}</div>
            <br>
        </div>
        <div class="col-6">
            <div class="row" id="field">Sold:</div>
            <div class="row" id="values">{{ project.sold | yesNo}}</div>
            <br>
        </div>
    </div>

    <!-- BUTTONS -->
    <div id="buttons" class="row">
        <button class="btn btn-primary" (click)="updateProject(project.id)">Update Project</button>
        <button class="btn btn-danger" (click)="deleteProjectButton(project.id)">Delete Project</button>
        <button class="btn btn-primary" id="back" (click)="backButton()">Back</button>
    </div>

</div>