#slogan{
    font-size: .5rem;
}
#instructions, #body{
        padding-top:7%;
        padding-left:2%;
        font-size:4em;
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 8%;
}
#instructionBody{
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;

    
}
#btn{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 10%;
}
.btn{
    padding: 1rem 2.5rem;
    font-size: 1.2rem;

}
#text{
    align-content: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 9%;
    padding-top:5%;
}
.img-responsive{
    max-width: 10%;
}

#img{
    display:flex;
    align-content: center;
    justify-content: center;
}
#instructions{
    background-color: rgb(213, 27, 213);
    margin-top:2%;
}
#body{
    margin-top:3%;
}