<div clas="container">
    <div class="col-12" id="instructions">
        Managing Freelance Projects is Simple.
        <br>
    </div>
    <div id="text">
        <div class="col-6" id="instructionBody">
            1. Fill Out the Project Information Form.
            <br>
        </div>
        <div class="col-6" id="instructionBody">

            2. Upload an Image of the Project You're Working On.
            <br>
        </div>
        <div class="col-6" id="instructionBody">

            3. ... & Stay Organized!
        </div>
    </div>
    <div class="col-12" id="img"> 
        <img class="img-responsive" src="assets/lightbulb_white.png">
      </div>
    <div class="col-12" id="body"> 
        Let's Get Started!
        <br>
    </div>
    <div class="col-12" id="btn"><button class="btn btn-primary" (click)="newProjectButton()">New Project</button>
    </div>
</div>